
//backgrouund
.bg-blue-100{
    background-color: $blue-100;
}
.bg-gray-400{
    background-color: $gray-400;
}

//text color
.text-blue-500{
  color: $blue-500;
}
.text-gray-400{
    color: $gray-400;
}

//border color
.border-blue-500{
    border-color:  $blue-500!important;
}
.zIndex-1024{
    z-index: 1024;
}