@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');

$primary:       #0D6EFD !default;
// $secondary:     #367fc0 !default;
$success:       #4CAF50 !default;
$info:          #39afd1 !default;
$warning:       #ffbc00 !default;
$danger:        #fa5c7c !default;

$blue-100:       #E7F1FF !default;
$blue-200:       #9EC5FE !default;
$blue-300:       #6EA8FE !default;
$blue-400:       #3D8BFD !default;
$blue-500:       #0D6EFD !default;
$blue-600:       #0A58CA !default;
$blue-700:       #084298 !default;
$blue-800:       #052C65 !default;
$blue-900:       #031633 !default;

$gray-100:       #F8F9FA !default;
$gray-200:       #E9ECEF !default;
$gray-300:       #DEE2E6 !default;
$gray-400:       #CED4DA !default;
$gray-500:       #ADB5BD !default;
$gray-600:       #6C757D !default;
$gray-700:       #495057 !default;
$gray-800:       #343A40 !default;
$gray-900:       #212529 !default;

$body-color:        #263649;
$body-bg:           #f8f8f8 !default;
 $font-family-sans-serif: 'Nunito', sans-serif !default;
